<main>
    <form id="formConnexion" action="index.php" method="get">
        <input type="hidden" name="objet" value="client">
        <input type="hidden" name="action" value="connect">
        <h1>Se Connecter</h1>
        <div class='form-group'>
            <label class='form-label' for='login'>Login :</label>
            <input class='form-input' name='loginClient' placeholder='Login' required>
        </div>
        <div class='form-group'>
            <label class='form-label' for='mdp'>Mot De Passe :</label>
            <input class='form-input' type='password' name='mdpClient' placeholder='Mot De Passe' required>
        </div>
        <button class='form-button' type='submit'>Se Connecter</button>
        
    </form>

</main>